# Copy to .env and adjust if a port is already taken.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=m324
POSTGRES_PORT=5432

LOCATIONS_DB_PASSWORD=locations
PROPERTIES_DB_PASSWORD=properties
